@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

.bg-primary {
    background: linear-gradient(98.14deg, #7025B2 9.77%, #662096 112.26%);
}

.bg-lines {
    background-image: url("./imgs/bg-main.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 992px) {
    .bg-lines {
        background-size: cover;
    }
}

.bg-block {
    background: linear-gradient(98deg, #762ECF 9.77%, #3733DF 112.26%);
}

.bg-main {
    background: linear-gradient(93.5deg, #7628C2 9.15%, #2E15D5 42.99%, rgba(44, 24, 245, 0) 76.44%);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-sm {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: 5% auto;
    background-color: #1a202c;
    padding: 20px;
    border: 1px solid #2d3748;
    width: 80%;
    max-width: 900px;
    position: relative;
    border-radius: 8px;
    color: white;
}

.close {
color: white;
position: absolute;
top: 10px;
right: 15px;
font-size: 24px;
font-weight: bold;
cursor: pointer;
}

@media (min-width: 768px) {
    .container-sm {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container-sm {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container-sm {
        width: 1170px;
    }
}

@media (min-width: 1300px) {
    .container-sm {
        width: 1270px;
    }
}

@media (min-width: 1400px) {
    .container-sm {
        width: 1370px;
    }
}

@media (min-width: 1500px) {
    .container-sm {
        width: 1470px;
    }
}